.top-pic{
    background-image: url('images/background-pattern-desktop.svg');
    background-size: cover;
    width: 105%;
    height:50vh;
    margin-top:-10px;
    margin-left:-10px;
}
.faq-box{
    width: 44%;
    background: white;
    height: 60vh;
    z-index: 2;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -100px;
    position: relative;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 3px #00000036;
    padding: 15px;
    margin-bottom: 200px;
}
hr{
    color:rgb(207, 207, 207);
   
}
.faq-box img{
    float:right;
    margin-top:-20px;
}
.faq-box .a{
    display: none;
    color:lightgray;
}
.faq-box .title{
    text-align: center;
    font-size:4vw;
    margin-bottom: 10px;
}